.overlay {
  position: fixed;
  top: 3rem;
  left: 180px;
  width: 700px;
  height: calc(100vh - 3rem);
  background-color: var(--gray-800);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow-y: auto;
  h4 {
    color: var(--white);
  }

  th {
    color: var(--white);
  }

  td {
    color: var(--white);
  }
}

.accordion-item{
  background-color: var(--gray-800)!important;
}

.toggle1 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  left: 179px;
  top: 4rem;
  background-color: var(--gray-900)!important;
  border-color: var(--yellow-500)!important;
  color: var(--white)!important;
  transition: background-color 0.2s ease-out;
}

.toggle1:hover {
  background-color: var(--yellow-500)!important;
}

.toggle1:active {
  background-color: var(--yellow-500)!important;
}

.toggle2 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  line-height: 50px;
  text-align: center;
  left: 179px;
  top: 4rem + 3.75rem;
  background-color: var(--gray-900)!important;
  border-color: var(--yellow-500)!important;
  color: var(--white)!important;
}
.toggle2:hover {
  background-color: var(--yellow-500)!important;
}

.toggle2:active {
  background-color: var(--yellow-500)!important;
}

.toggle3 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  line-height: 50px;
  text-align: center;
  left: 179px;
  top: 4rem + 7.5rem;
  background-color: var(--gray-900)!important;
  border-color: var(--yellow-500)!important;
  color: var(--white)!important;
}

.toggle3:hover {
  background-color: var(--yellow-500)!important;
}

.toggle3:active {
  background-color: var(--yellow-500)!important;
}
