.overlay {
  position: fixed;
  top: 3rem;
  left: 180px;
  width: 700px;
  height: 100%;
  background-color: var(--gray-800);
  z-index: 999;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  }

  h4{
    color: var(--white);
  }

  th{
    color: var(--white);
  }

  td{
    color: var(--white);
  }

  .toggle1 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 0!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    left: 180px;
    top: 4rem;
}

.toggle2 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 0!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  line-height: 50px;
  text-align: center;
  left: 180px;
  top: 4rem + 3.75rem;
}

.toggle3 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 0!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  line-height: 50px;
  text-align: center;
  left: 180px;
  top: 4rem + 7.5rem;
}
