
.dice-card {
  width: 10rem !important;
  min-height: 34rem  !important;
  max-height: 1rem !important;
  background-color: var(--gray-100) !important;
  border-radius: 10px !important;
}

.animate {
  animation: scale 1s ease-in-out;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}