.hero{
  max-width: 600px;
  > span{
      font-size: 1.5 rem;
      font-weight: bold;
      color: var(--white)
  }

  h1{
      font-size: 4.5rem;
      line-height:  4.5rem;
      font-weight: 900;
      margin-top: 1.5rem;
      color: var(--white)
  }

  p{
      font-size: 1.5rem;
      line-height: 2.25rem;
      margin-top: 1.5rem;
      color: var(--white)
  }

  button{
      margin-top: 2.5rem;
  }
}