:root {
  --white: #ffffff;
  --gray-100: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-800: #29292e;
  --gray-850: #1f2729;
  --gray-900: #121214;
  --cyan-500: #61dafb;
  --yellow-500: #eba417;
}

/* Nav Tabs */
$nav-tabs-border-radius: 0px;
$nav-tabs-link-active-color: var(--yellow-500);
$nav-link-hover-color: var(--yellow-500);
$nav-link-color: var(--gray-850);

/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}

/* Media Queries */
@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 9px; /* alterado para ajustar à tela de 720p */
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background: var(--yellow-500);
}

/* Body */
body {
  background: var(--gray-900) !important;
}

/* Containers */
.list-container {
  padding-top: 0.2rem;
  overflow-y: auto;
  max-height: 28rem; /* ajustado para caber em uma tela de 720p */
  min-width: 19.5rem !important;
  max-width: 19.5rem !important;
}

.list-container-monster {
  padding-top: 0.3rem;
  overflow-y: auto;
  max-height: 30rem; /* ajustado para caber em uma tela de 720p */
  min-width: 24.5rem !important;
  max-width: 24.5rem !important;
}

.card-main {
  background-color: var(--gray-100) !important;
  border-radius: 10px !important;
  min-width: 20rem !important;
  max-width: 20rem !important;
  max-height: 34rem !important;
  min-height: 34rem !important;
}

.card-monster {
  background-color: var(--gray-100) !important;
  border-radius: 10px !important;
  min-width: 25rem !important;
  max-width: 25rem !important;
  max-height: 34rem !important;
  min-height: 34rem !important;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  overflow: hidden;
}

.contentSideBar {
  max-width: 720px; /* ajustado para caber em uma tela de 720p */
  margin: 0 auto;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.edit-button {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search{
  align-items: center;
  padding: 0.5rem;
}

.custom-tabs {
  font-size: 14px;
}

.custom-tab {
  font-size: 14px;
}

#content {
  width: 100%;
  height: calc(100vh - 3rem);
  transition: all 0.3s;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#sidebarPro {
  min-width: 180px; /* ajustado para caber em uma tela de 720p */
  max-width: 180px; /* ajustado para caber em uma tela de 720p */
  background: var(--yellow-500);
}

@media (max-width: 768px) {
  #sidebarPro {
    margin-left: -250px;
  }
}

/* Bootstrap */
@import "node_modules/bootstrap/scss/bootstrap";
